/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@font-face {
  font-family: 'EF';
  src: local('Euclid Flex'),local('Euclid-Flex'),url(EuclidFlex-Regular.ttf) format('truetype');
}
/*===== VARIABLES CSS =====*/

:root {
  --header-height: 3rem;
  --font-semi: 600;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  
}

/*===== Colores =====*/

:root {
  /* --first-color: #4070F4; */
  --switch-color: #121212;
  --first-color: #121212;
  --second-color: #121212;
  --backg-color: #ffffff;
  --backg-color2: #222222;
  --nav-color: #efefef;
}

.dark-mode {
  background-color: #222222;
  color: #efefef;
}

/*===== Fuente y tipografia =====*/

html{
  font-family: 'EF','poppins';
}

:root {
  /* --body-font: "Euclid Flex", sans-serif; */
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  /* cursor: url('/assets/img/cursor.cur'); */
  background: var(--backg-color);
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#preloader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  position: fixed;
  background-color: var(--backg-color);
}

#loading-animation {
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  margin: -100px 0 0 -100px;
  /* background: url("loading-animation.gif") center center no-repeat; */
}

/* The dot */
.dot {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 10;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-radius: 999px;
  background-color: var(--first-color);
  /* transform-type: preserve-3d; */
  animation: loader 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.dot:nth-child(2) {
  z-index: 9;
  animation-delay: 0.08s;
  background-color: var(--backg-color2);
}

.dot:nth-child(3) {
  z-index: 8;
  animation-delay: 0.16s;
  background-color: var(--first-color);
}
.dot:nth-child(4) {
  z-index: 7;
  animation-delay: 0.21s;
  background-color: var(--backg-color2);
}
.dot:nth-child(5) {
  z-index: 6;
  animation-delay: 0.26s;
  background-color: var(--first-color);
}

@keyframes loader {
  0% {
    left: 10%;
    transform: translateX(0);
  }
  50% {
    left: 90%;
    transform: translateX(-100%);
  }
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  transform: translateX(20px);
  transform: translatey(-1px);
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  margin-left: -20px;
  margin-right: 0px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--first-color);
}

/* input:focus+.slider {
    box-shadow: 0 0 1px var(--first-color);
} */

input:hover + .slider {
  box-shadow: 0 0 8px var(--backg-color2);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.iconify {
  width: 48px;
  height: 48px;
  /* padding-right: 10px; */
  color: var(--first-color);
}

/*===== CLASS CSS ===== */

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding: 3rem;
  /* padding-bottom: 2rem; */
}

.back__2__top {
  width: 100px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.back__2__top__container {
  width: 100px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

/*===== LAYOUT =====*/

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  /* border-radius: 0 0 20px 20px; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /* background-color: #fff; */
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  background-color: var(--nav-color);
}

/*===== NAV =====*/

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: var(--backg-color2);
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: var(--second-color);
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
  /* box-shadow: 0 0 8px var(--backg-color2); */
}

/*=== Show menu ===*/

.show {
  right: 0;
}

/*===== HOME =====*/

.home {
  height: calc(100vh - 3rem);
  row-gap: 3rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.home__data {
  padding: 45px;
  border-radius: 20px;
  background-color: var(--nav-color);
  align-self: center;
  box-shadow: 0 0 8px var(--nav-color);
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  font-weight: 600;
}

.home__title-color,
.home__subtitle {
  color: var(--first-color);
  font-weight: 600;
}

.home__subtitle-color {
  font-size: 2rem;
  color: var(--first-color);
}

.home__subtitle1,
.home__subtitle2 {
  /* color: var(--first-color); */
  font-size: 1.4rem;
  font-weight: 300;
}

.switch__color {
  color: var(--switch-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 170px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 15px var(--nav-color), 0 0 16px 15px var(--nav-color);
}

.home_image {
  border-radius: 50%;
}

/*BUTTONS*/

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #2c2c2c;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 20px;
  margin-bottom: 15px;
  width: 250px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button:hover {
  box-shadow: 0 0 8px var(--first-color);
  color: #2c2c2c;
  -webkit-transition: 0.4s;
  transition: 0.4s;

}
/* ===== FOOTER =====*/

.footer {
  /* background-color: var(--second-color); */
  /* color: #fff; */
  background-color: var(--nav-color);
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
  width: 100%;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: var(--backg-color2);
  margin: 0 var(--mb-2);
}

.footer__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--backg-color2);
  padding: 20px;
}

.footer__social-icon:hover {
  color: var(--first-color);
}

.footer__title,
.footer__text {
  color: var(--backg-color2);
}

.page__counter {
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 768px) {
  /* .page__counter {
    margin-left: 46.5%;
  } */
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    height: 100vh;
  }
  .home__data {
    padding: 45px;
    border-radius: 20px;
    background-color: var(--nav-color);
    align-self: flex-end;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
    /* color: var(--backg-color) */
  }
  .home__img {
    bottom: 25%;
    right: 5%;
    width: 220px;

    /* border-radius: 50%; */
  }
  
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    right: 10%;
  }
}

@media screen and (max-width: 586px) {
  /* .project__data {
        box-shadow: 0 0 4px var(--backg-color2);
        margin: auto;
        min-width: 200px;
        font-weight: var(--font-semi);
        padding: 0.5rem 1rem;
        border-radius: 5rem;
        height: 60px;
        grid-template-columns: repeat(2, 1fr);
        display: flex;
        justify-content: center;
        align-items: centzer;
    } */
    .section {
      padding: 0px;
    }

  .footer {
    margin-top: 50px;
  }
}

.viewcountdiv,
.viewcount {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 15px;
  margin-bottom: 0px;
}
.section {
  margin-bottom: 0px;
  min-height: calc(100vh - 3rem);
} 
.footer {
  /* height: calc(50vh - 1rem); */
  height: 330px;
}